<template>
  <div class="justify-content-center" if.bind="appConfig.jwt != null">
    <!--<p class="float-left txt">Account setup</p>-->
    <p class="float-md-right txt">
      <a class="btn waves-effect waves-light blue-grey" click.trigger="createBankCommand()">Create New</a>
    </p>

    <label class="float-left">
      Select Company:<br class="float-left">
      <input class="input-field text-left" list="companies" value.bind="companyQuery & debounce:200"/>
      <datalist id="companies">
        <option repeat.for="company of companies">${company.name} ${company.vatRegistration}</option>
      </datalist>
    </label>
    <p class="float-left txt red-text">${errorReport}</p>


    <table class="table table-responsive-sm txt">
      <thead>
      <tr>
        <th style="vertical-align: middle">
          Name
        </th>
        <th style="vertical-align: middle">
          Account nr.
        </th>
        <th style="vertical-align: middle">
          IBAN
        </th>
        <th style="vertical-align: middle">
          SWIFT
        </th>
        <th style="vertical-align: middle">
          <form class="nav-wrapper">
            <div class="input-field">
              <input id="search" type="search" required value.bind="statementQuery & debounce:200">
              <label class="label-icon" for="search"><i class="material-icons">search</i></label>
              <i class="material-icons">close</i>
            </div>
          </form>
        </th>
      </tr>
      </thead>

      <tbody>
      <tr class="txt center-align" repeat.for="bank of showedBanks" model.bind="editBank">
        <td style="vertical-align: middle" if.bind="editBank !== bank">
          ${bank.name}
        </td>
        <td style="vertical-align: middle" show.bind="editBank === bank">
          <input class="input-field text-left" value.bind="bank.name" />
        </td>
        <td style="vertical-align: middle" if.bind="editBank !== bank">
          ${bank.account}
        </td>
        <td style="vertical-align: middle" if.bind="editBank === bank">
          <input class="input-field text-left" value.bind="bank.account" />
        </td>
        <td style="vertical-align: middle" if.bind="editBank !== bank">
          ${bank.iban}
        </td>
        <td style="vertical-align: middle" if.bind="editBank === bank">
          <input class="input-field text-left" value.bind="bank.iban" />
        </td>
        <td style="vertical-align: middle" if.bind="editBank !== bank">
          ${bank.swiftBic}
        </td>
        <td style="vertical-align: middle" if.bind="editBank === bank">
          <input class="input-field text-left" value.bind="bank.swiftBic" />
        </td>
        <!--onmouseenter="explaneModal('Edit')"-->
        <td if.bind="editBank !== bank && addBank !== bank">
          <a style="transform: scale(0.8,0.8)" class="btn-floating waves-effect waves-light blue-grey" click.trigger="editBankCommand(bank)"><i class="material-icons left">create</i></a>
          <button style="transform: scale(0.8,0.8)" class="btn-floating waves-effect waves-light red" click.trigger="openBankDeleteModal(bank)"><i class="material-icons left">delete_forever</i></button>
        </td>
        <td if.bind="addBank === bank">
          <button style="transform: scale(0.8,0.8)" class="btn-floating waves-effect waves-light green" click.trigger="postBank(bank)">Ok</button>
          <button style="transform: scale(0.8,0.8)" class="btn-floating waves-effect waves-light red" click.trigger="cancelPostBank(bank)">Cancel</button>
        </td>
        <td if.bind="editBank === bank  && addBank === null">
          <button style="transform: scale(0.8,0.8)" class="btn-floating waves-effect waves-light green" click.trigger="saveBank(bank)">Ok</button>
          <button style="transform: scale(0.8,0.8)" class="btn-floating waves-effect waves-light red" click.trigger="cancelSaveBank()">Cancel</button>
        </td>
      </tr>

      </tbody>
    </table>
  </div>
</template>
