<template>
  <div class="justify-content-center" if.bind="appConfig.jwt != null">
    <p class="float-left txt">Holding companies</p>
    <p class="float-md-right txt">
      <a route-href="route: companyCreate">Create New</a>
    </p>

    <table class="table table-responsive-sm txt">
      <thead>
      <tr>
        <th style="vertical-align: middle">
          Name
        </th>
        <th style="vertical-align: middle">
          Address
        </th>
        <th style="vertical-align: middle">
          Registration
        </th>
        <th style="vertical-align: middle">
          VAT
        </th>
        <th style="vertical-align: middle">
          <form class="nav-wrapper">
            <div class="input-field">
              <input id="search" type="search" required value.bind="query & debounce:200">
              <label class="label-icon" for="search"><i class="material-icons">search</i></label>
              <i class="material-icons">close</i>
            </div>
          </form>
        </th>
      </tr>
      </thead>

      <tbody>
      <tr class="txt center-align" repeat.for="company of showedCompanies" model.bind="editCompany">
        <td style="vertical-align: middle" if.bind="editCompany !== company">
          ${company.name}
        </td>
        <td style="vertical-align: middle" show.bind="editCompany === company">
          <input class="input-field text-left" value.bind="company.name" />
        </td>
        <td style="vertical-align: middle" if.bind="editCompany !== company">
          ${company.address}
        </td>
        <td style="vertical-align: middle" if.bind="editCompany === company">
          <input class="input-field text-left" value.bind="company.address" />
        </td>
        <td style="vertical-align: middle" if.bind="editCompany !== company">
          ${company.registrationNumber}
        </td>
        <td style="vertical-align: middle" if.bind="editCompany === company">
          <input class="input-field text-left" type="text" value.bind="company.registrationNumber" />
        </td>
        <td style="vertical-align: middle" if.bind="editCompany !== company">
          ${company.vatRegistration}
        </td>
        <td style="vertical-align: middle" if.bind="editCompany === company">
          <input class="input-field text-left" type="text" value.bind="company.vatRegistration" />
        </td>
        <td if.bind="editCompany !== company">
          <a style="transform: scale(0.8,0.8)" class="btn-floating waves-effect waves-light blue-grey" click.trigger="editCompanyCommand(company)"><i class="material-icons left">create</i></a>
          <button style="transform: scale(0.8,0.8)" class="btn-floating waves-effect waves-light red" click.trigger="openDeleteModal(company)"><i class="material-icons left">delete_forever</i></button>
          <!--<a route-href="route: companiesDetails; params.bind: {id: company.id}">Details</a> |-->
          <button style="transform: scale(0.8,0.8)" class="btn waves-effect waves-light blue-grey" click.trigger="getSubsidiaries(company)">ADD SUB</button>
          <button style="transform: scale(0.8,0.8)" class="btn waves-effect waves-light blue-grey" click.trigger="getSubsidiaries(company)">ADD BANK</button>
        </td>
        <td if.bind="editCompany === company">
          <button style="transform: scale(0.8,0.8)" class="btn-floating waves-effect waves-light green" click.trigger="saveCompany(company)">Ok</button>
          <button style="transform: scale(0.8,0.8)" class="btn-floating waves-effect waves-light red" click.trigger="cancelSaveCompany()">Cancel</button>
        </td>
      </tr>

      </tbody>
    </table>
  </div>
</template>
