<template>
  <div class="wrapper fadeInDown" if.bind="appConfig.jwt == null">
    <div id="formContent">
      <!-- Tabs Titles -->

      <!-- Icon -->
      <div class="logo fadeIn first">
        <img src="https://accountingyourpoints.boardingarea.com/wp-content/uploads/2016/10/Accounting-Your-Points-Favicon.png" class="img-responsive" alt="Logo" id="icon">
      </div>
      <!--<div class="fadeIn first">
        <img src="http://danielzawadzki.com/codepen/01/icon.svg"  />
      </div>-->

      <!-- Login Form -->
      <form method="post" submit.trigger="submit()">
        <input type="text" id="login" class="fadeIn second" name="login" placeholder="login" value.bind="email">
        <input type="text" id="password" class="fadeIn third" name="login" placeholder="password" value.bind="password">
        <input type="submit" class="fadeIn fourth" value="Log In">
      </form>

      <!-- Remind Password -->
      <div id="formFooter">
        <a class="underlineHover" href="#">Forgot Password?</a>
      </div>

    </div>
  </div>
</template>
