<template>
  <div class="wrapper fadeInDown">
    <div id="formContent">
      <!-- Tabs Titles -->

      <!-- Icon -->
      <div class="logo fadeIn first">
        <img src="https://accountingyourpoints.boardingarea.com/wp-content/uploads/2016/10/Accounting-Your-Points-Favicon.png" class="img-responsive" alt="Logo" id="icon">
      </div>

      <!-- Login Form -->
      <form method="post" submit.trigger="submit()">
        <input type="text" id="login" class="fadeIn second" name="email" placeholder="e-mail" value.bind="email">
        <input type="text" id="password" class="fadeIn third" name="password" placeholder="password" value.bind="password">
        <input type="text" id="confirmPassword" class="fadeIn third" name="confirmPassword" placeholder="confirm password" value.bind="confirmPassword">
        <input type="submit" class="fadeIn fourth" value="REGISTER">
      </form>

    </div>
  </div>
</template>
