<template>
  <ux-dialog>
    <ux-dialog-body>
      <h5>Delete ${shownInformation}?</h5>
    </ux-dialog-body>

    <ux-dialog-footer>
      <button click.trigger="controller.cancel()">Cancel</button>
      <button click.trigger="controller.ok(model)">Ok</button>
    </ux-dialog-footer>
  </ux-dialog>
</template>
