<template>
  <div class="justify-content-center" if.bind="appConfig.jwt != null">
    <!--<p class="float-left txt">Account setup</p>-->
    <p class="float-md-right txt">
      <a class="btn waves-effect waves-light blue-grey" click.trigger="createCommodityCommand()">Create New</a>
    </p>

    <label class="float-left">
      Select Company:<br class="float-left">
      <input class="input-field text-left" list="companies" value.bind="companyQuery & debounce:200"/>
      <datalist id="companies">
        <option repeat.for="company of companies">${company.name} ${company.vatRegistration}</option>
      </datalist>
    </label>
    <p class="float-left txt red-text">${errorReport}</p>


    <table class="table table-responsive-sm txt">
      <thead>
      <tr>
        <th style="vertical-align: middle">
          Item Name
        </th>
        <th style="vertical-align: middle">
          Value
        </th>
        <th style="vertical-align: middle">
          Unit
        </th>
        <th style="vertical-align: middle">
          <form class="nav-wrapper">
            <div class="input-field">
              <input id="search" type="search" required value.bind="statementQuery & debounce:200">
              <label class="label-icon" for="search"><i class="material-icons">search</i></label>
              <i class="material-icons">close</i>
            </div>
          </form>
        </th>
      </tr>
      </thead>

      <tbody>
      <tr class="txt center-align" repeat.for="commodity of commodities" model.bind="editCommodity">
        <td style="vertical-align: middle" if.bind="editCommodity !== commodity">
          ${commodity.itemName}
        </td>
        <td style="vertical-align: middle" show.bind="editCommodity === commodity">
          <input class="input-field text-left" value.bind="commodity.itemName" />
        </td>
        <td style="vertical-align: middle" if.bind="editCommodity !== commodity">
          ${commodity.netValue}
        </td>
        <td style="vertical-align: middle" show.bind="editCommodity === commodity">
          <input class="input-field text-left" value.bind="commodity.netValue" />
        </td>
        <td style="vertical-align: middle" if.bind="editCommodity !== commodity">
          ${commodity.unitType}
        </td>
        <td style="vertical-align: middle" show.bind="editCommodity === commodity">
          <input class="input-field text-left" value.bind="commodity.unitType" />
        </td>
        <!--onmouseenter="explaneModal('Edit')"-->
        <td if.bind="editCommodity !== commodity && addCommodity !== commodity">
          <a style="transform: scale(0.8,0.8)" class="btn-floating waves-effect waves-light blue-grey" click.trigger="editCommodityCommand(commodity)"><i class="material-icons left">create</i></a>
          <button style="transform: scale(0.8,0.8)" class="btn-floating waves-effect waves-light red" click.trigger="openCommodityDeleteModal(commodity)"><i class="material-icons left">delete_forever</i></button>
        </td>
        <td if.bind="addCommodity === commodity">
          <button style="transform: scale(0.8,0.8)" class="btn-floating waves-effect waves-light green" click.trigger="postCommodity(commodity)">Ok</button>
          <button style="transform: scale(0.8,0.8)" class="btn-floating waves-effect waves-light red" click.trigger="cancelPostCommodity(commodity)">Cancel</button>
        </td>
        <td if.bind="editCommodity === commodity  && addCommodity === null">
          <button style="transform: scale(0.8,0.8)" class="btn-floating waves-effect waves-light green" click.trigger="saveCommodity(commodity)">Ok</button>
          <button style="transform: scale(0.8,0.8)" class="btn-floating waves-effect waves-light red" click.trigger="cancelSaveCommodity()">Cancel</button>
        </td>
      </tr>

      </tbody>
    </table>
  </div>
</template>
