@model Domain.Setting

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Setting</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="FileName" class="control-label"></label>
                <input asp-for="FileName" class="form-control" />
                <span asp-validation-for="FileName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ContentType" class="control-label"></label>
                <input asp-for="ContentType" class="form-control" />
                <span asp-validation-for="ContentType" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="FilePath" class="control-label"></label>
                <input asp-for="FilePath" class="form-control" />
                <span asp-validation-for="FilePath" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="HoldingCompanyId" class="control-label"></label>
                <select asp-for="HoldingCompanyId" class ="form-control" asp-items="ViewBag.HoldingCompanyId"></select>
            </div>
            <div class="form-group">
                <label asp-for="DepartmentId" class="control-label"></label>
                <select asp-for="DepartmentId" class ="form-control" asp-items="ViewBag.DepartmentId"></select>
            </div>
            <div class="form-group">
                <label asp-for="InvoiceId" class="control-label"></label>
                <select asp-for="InvoiceId" class ="form-control" asp-items="ViewBag.InvoiceId"></select>
            </div>
            <div class="form-group">
                <label asp-for="CommodityId" class="control-label"></label>
                <select asp-for="CommodityId" class ="form-control" asp-items="ViewBag.CommodityId"></select>
            </div>
            <div class="form-group">
                <label asp-for="WarehouseId" class="control-label"></label>
                <select asp-for="WarehouseId" class ="form-control" asp-items="ViewBag.WarehouseId"></select>
            </div>
            <div class="form-group">
                <label asp-for="StatementSheetId" class="control-label"></label>
                <select asp-for="StatementSheetId" class ="form-control" asp-items="ViewBag.StatementSheetId"></select>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
