<template>
  <div class="row-md-12">
    <button style="height: 150px;" class="btn waves-effect waves-light blue-grey col m3 mb-md-5 mr-md-5" click.delegate="manageStatements()"><span class="flow-text">MANAGE ACCOUNTS</span></button>
    <button style="height: 150px;" class="btn waves-effect waves-light blue-grey col m3 mb-md-5 mr-md-5" click.delegate="manageCompanies()"><span class="flow-text">MANAGE COMPANIES</span></button>
    <button style="height: 150px;" class="btn waves-effect waves-light blue-grey col m3 mb-md-5 mr-md-5" click.delegate="manageFiscalYears()"><span class="flow-text">MANAGE FISCALYEARS</span></button>
  </div>

  <div class="row-md-12">
    <button style="height: 150px;" class="btn waves-effect waves-light blue-grey col m3 mb-md-5 mr-md-5" click.delegate="manageBanks()"><span class="flow-text">MANAGE BANKS</span></button>
    <button style="height: 150px;" class="btn waves-effect waves-light blue-grey col m3 mb-md-5 mr-md-5" click.delegate="manageCommodities()"><span class="flow-text">MANAGE COMMODITIES</span></button>
    <button style="height: 150px;" class="btn waves-effect waves-light blue-grey col m3 mb-md-5 mr-md-5"><span class="flow-text">This div is 12-columns wide on all screen sizes</span></button>
  </div>
  
</template>
