<template>
  <require from="bootstrap/dist/css/bootstrap.min.css"></require>
  <require from="./css/basic.css"></require>
  <require from="./css/arashi.css"></require>
  <require from="materialize-css/dist/css/materialize.css"></require>
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  
  <header if.bind="appConfig.jwt != null">
    
    <div class="container-fluid">
      
      <div class="row">
        <div class="col-md-3 col-sm-4 sidebar3 pr-5">
          <div class="logo">
            <img src="https://accountingyourpoints.boardingarea.com/wp-content/uploads/2016/10/Accounting-Your-Points-Favicon.png" class="img-responsive" alt="Logo">
          </div>
          
          <div class="name">
            <p>Accounting</p>
          </div>
          
        </div>
      </div>
      
      <div class="row">
        <div class="col-md-3 col-sm-4 sidebar3 p-2 pr-5">
          <div class="left-navigation">
            
            <ul>
              <li><a class="fa fa-power-off menuLink" aria-hidden="true" route-href="route: companiesIndex">Manager</a></li>
              <li><a class="fa fa-power-off menuLink" aria-hidden="true" route-href="route: identityLogout">Active Invoices</a><span class="activebooks pull-right">3</span></li>
              <li><a class="fa fa-power-off menuLink" aria-hidden="true" route-href="route: identityLogout">Warehouse</a></li>
              <li><a class="fa fa-power-off menuLink" aria-hidden="true" route-href="route: identityLogout">Balance</a></li>
              
              <li>
              <select class="menuSelect menuWrapper" value.bind="likesTacos">
                <option class="specialColor" model.bind="null">Choose...</option>
                <option class="specialColor" model.bind="true">Yes</option>
                <option class="specialColor" model.bind="false">No</option>
              </select>
              <li>


              <!--<li class="nav-item dropdown">
                  <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Dropdown</a>
                <label class="col-xs-3 control-label" for="droplist">Select item:</label>
                <div class="col-xs-9">
                <div class="menuWrapper">
                  <select class="dropdown menuSelect" id="droplist">
                    <option class="dropdown-item" href="#">Action</option>
                    <a class="dropdown-item" href="#">Another action</a>
                    <a class="dropdown-item" href="#">Something else here</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="#">Separated link</a>
                  </select>
                </div>
                </div>

              </li>-->
                
                <!--<li class="list">
                  <div class="dropdown">
                    <a class="fa fa-list" aria-hidden="true" >Incase needed</a><i class="fa fa-plus pull-right" aria-hidden="true"></i>
                  </div>
                  <ul class="submenu hide">
                    <li><a>Smt</a></li>
                  </ul>
                </li>-->
            </ul>
            
            <ul class="category">
              <li repeat.for="nav of router.navigation"><a class="fa fa-circle-thin menuLink" aria-hidden="true" href.bind="nav.href">${nav.title}</a></li>
            </ul>
            
            <ul>
              <li><a class="fa fa-power-off menuLink" aria-hidden="true" route-href="route: identityLogout">Settings</a></li>
              <li><a class="fa fa-power-off menuLink" aria-hidden="true" route-href="route: identityLogout">Logout</a></li>
            </ul>
          </div>
        </div>
        
        <div class="col-md-9 main-content">

          <p>Accounting project by Marko Linde</p>
          <div>
            <main role="main">
              <!-- views here -->
              <router-view></router-view>
            </main>
          </div>
        </div>

      </div>
    </div>
    
  </header>
  
  
  
  <div class="container" show.bind="appConfig.jwt == null">
    <main role="main" class="pb-3">
      <!-- views here -->
      <router-view></router-view>

    </main>
  </div>

  <footer class="border-top footer text-muted ml-footer" if.bind="appConfig.jwt != null">
    <div class="container">
      &copy; 2019 - WebApp
    </div>
  </footer>
  
</template>
