@model Domain.Bank

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Bank</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Account)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Account)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Iban)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Iban)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SwiftBic)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SwiftBic)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.HoldingCompany)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.HoldingCompany.Address)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
