<template>
  <div class="justify-content-center" if.bind="appConfig.jwt != null">
    <!--<p class="float-left txt">Account setup</p>-->
    <p class="float-md-right txt">
      <a class="btn waves-effect waves-light blue-grey" click.trigger="createFiscalYear()">Create New</a>
    </p>

    <label class="float-left">
      Select Company:<br class="float-left">
        <input class="input-field text-left" list="companies" value.bind="companyQuery & debounce:200"/>
        <datalist id="companies">
          <option repeat.for="company of companies">${company.name} ${company.vatRegistration}</option>
        </datalist>
    </label>
    <p class="float-left txt red-text">${errorReport}</p>
    
    <table class="table table-responsive-sm txt">
      <thead>
      <tr>
        <th style="vertical-align: middle">
          Name
        </th>
        <th style="vertical-align: middle">
          Start Date
        </th>
        <th style="vertical-align: middle">
          <form class="nav-wrapper">
            <div class="input-field">
              <input id="search" type="search" required value.bind="fiscalYearQuery & debounce:200">
              <label class="label-icon" for="search"><i class="material-icons">search</i></label>
              <i class="material-icons">close</i>
            </div>
          </form>
        </th>
      </tr>
      </thead>

      <tbody>
      <tr class="txt center-align" repeat.for="fiscalYear of fiscalYears" model.bind="editFiscalYear">
        <td style="vertical-align: middle" if.bind="editFiscalYear !== fiscalYear">
          ${fiscalYear.projectName}
        </td>
        <td style="vertical-align: middle" show.bind="editFiscalYear === fiscalYear">
          <input class="input-field text-left" value.bind="fiscalYear.projectName" />
        </td>
        <td style="vertical-align: middle" if.bind="editFiscalYear !== fiscalYear">
          ${fiscalYear.start}
        </td>
        <td style="vertical-align: middle" if.bind="editFiscalYear === fiscalYear">
          <input class="input-field text-left" value.bind="fiscalYearDate"/>
        </td>
        <!--onmouseenter="explaneModal('Edit')"-->
        <td if.bind="editFiscalYear !== fiscalYear && addFiscalYear !== fiscalYear">
          <a style="transform: scale(0.8,0.8)" class="btn-floating waves-effect waves-light blue-grey" click.trigger="editFiscalYearCommand(fiscalYear)"><i class="material-icons left">create</i></a>
          <button style="transform: scale(0.8,0.8)" class="btn-floating waves-effect waves-light red" click.trigger="openFiscalYearDeleteModal(fiscalYear)"><i class="material-icons left">delete_forever</i></button>
        </td>
        <td if.bind="addFiscalYear === fiscalYear">
          <button style="transform: scale(0.8,0.8)" class="btn-floating waves-effect waves-light green" click.trigger="postFiscalYear(fiscalYear)">Ok</button>
          <button style="transform: scale(0.8,0.8)" class="btn-floating waves-effect waves-light red" click.trigger="cancelPostFiscalYear(fiscalYear)">Cancel</button>
        </td>
        <td if.bind="editFiscalYear === fiscalYear  && addFiscalYear === null">
          <button style="transform: scale(0.8,0.8)" class="btn-floating waves-effect waves-light green" click.trigger="saveFiscalYear(fiscalYear)">Ok</button>
          <button style="transform: scale(0.8,0.8)" class="btn-floating waves-effect waves-light red" click.trigger="cancelSaveFiscalYear()">Cancel</button>
        </td>
      </tr>

      </tbody>
    </table>
  </div>
</template>
