<template>
  <div class="justify-content-center" if.bind="appConfig.jwt != null">
    <!--<p class="float-left txt">Account setup</p>-->
    <p class="float-md-right txt">
      <a class="btn waves-effect waves-light blue-grey" click.trigger="createStatement()">Create New</a>
    </p>

    <label class="float-left">
      Select Company:<br class="float-left">
        <input class="input-field text-left" list="companies" value.bind="companyQuery & debounce:200"/>
        <datalist id="companies">
          <option repeat.for="company of companies">${company.name} ${company.vatRegistration}</option>
        </datalist>
    </label>
    <p class="float-left txt red-text">${errorReport}</p>

    
    <table class="table table-responsive-sm txt">
      <thead>
      <tr>
        <th style="vertical-align: middle">
          <!--General ledger--> Account number
        </th>
        <th style="vertical-align: middle">
          Description
        </th>
        <th style="vertical-align: middle">
          <form class="nav-wrapper">
            <div class="input-field">
              <input id="search" type="search" required value.bind="statementQuery & debounce:200">
              <label class="label-icon" for="search"><i class="material-icons">search</i></label>
              <i class="material-icons">close</i>
            </div>
          </form>
        </th>
      </tr>
      </thead>

      <tbody>
      <tr class="txt center-align" repeat.for="statement of showedStatements" model.bind="editStatement">
        <td style="vertical-align: middle" if.bind="editStatement !== statement">
          ${statement.transactionCode}
        </td>
        <td style="vertical-align: middle" show.bind="editStatement === statement">
          <input class="input-field text-left" value.bind="statement.transactionCode" />
        </td>
        <td style="vertical-align: middle" if.bind="editStatement !== statement">
          ${statement.tally}
        </td>
        <td style="vertical-align: middle" if.bind="editStatement === statement">
          <input class="input-field text-left" value.bind="statement.tally" />
        </td>
        <!--onmouseenter="explaneModal('Edit')"-->
        <td if.bind="editStatement !== statement && addStatement !== statement">
          <a style="transform: scale(0.8,0.8)" class="btn-floating waves-effect waves-light blue-grey" click.trigger="editStatementCommand(statement)"><i class="material-icons left">create</i></a>
          <button style="transform: scale(0.8,0.8)" class="btn-floating waves-effect waves-light red" click.trigger="openStatementDeleteModal(statement)"><i class="material-icons left">delete_forever</i></button>
        </td>
        <td if.bind="addStatement === statement">
          <button style="transform: scale(0.8,0.8)" class="btn-floating waves-effect waves-light green" click.trigger="postStatement(statement)">Ok</button>
          <button style="transform: scale(0.8,0.8)" class="btn-floating waves-effect waves-light red" click.trigger="cancelPostStatement(statement)">Cancel</button>
        </td>
        <td if.bind="editStatement === statement  && addStatement === null">
          <button style="transform: scale(0.8,0.8)" class="btn-floating waves-effect waves-light green" click.trigger="saveStatement(statement)">Ok</button>
          <button style="transform: scale(0.8,0.8)" class="btn-floating waves-effect waves-light red" click.trigger="cancelSaveStatement()">Cancel</button>
        </td>
      </tr>

      </tbody>
    </table>
  </div>
</template>
