*{
  box-sizing: border-box;
  border: 1px solid transparent;
}

body{
  background: #f4f5f9;
  /* For browsers that do not support gradients */
  background: -webkit-linear-gradient(left top, #77c2ff, #bae0ff, #fcfcfc, #ffffff, #ffffff);
  /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(bottom right, #77c2ff, #bae0ff, #fcfcfc, #ffffff, #ffffff);
  /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(bottom right, #77c2ff, #bae0ff, #fcfcfc, #ffffff, #ffffff);
  /* For Firefox 3.6 to 15 */
  background: linear-gradient(to bottom right, #77c2ff, #bae0ff, #fcfcfc, #ffffff, #ffffff);
  /* Standard syntax */
  /*height:100vh;*/
  /*color: #262626;*/
}
.sidebar3 {
  padding-top:10px;
  padding-left:5px;
  padding-right:0px;}
.logo {
  float:left;
}
.logo > img {
  box-shadow:0 0 0 1px #848FD8, 0 0 0 5px #ffffff, 0 0 0 6px #848FD8,  -2px -2px 0 6px #00bcd4;
  border:1px;
  border-radius:100%;
  padding:5px;
  max-width:20%;
  object-fit: contain;
}
.name {
  float:right;
  clear:right;
  padding:5px;
  height: 5px;
  vertical-align: middle;
  padding-top: 1px;
  text-align:right;
}
.name > p {
  margin-bottom: 0px;
}
i {
  display: inline-block;
  margin-right: 1em;
}
li {
  list-style-type: none;
  padding:5px;
  border-bottom:1px solid #848FD8;
}

ul{
  padding-left:0px;
}
.activebooks {
  border:1px solid #848FD8;
  padding:0px 10px;
  margin-top:-2px;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
}

.dropdown .fa-plus {
  border:1px solid #848FD8;
  padding:4px;
  margin-top:-2px;
  margin-right:0px;
}

.list {
  padding-left:20px;
}
.dropdown {
  margin-left:-15px;
}
.submenu > li {
  display:list-item;
  list-style-type: square;
}
.submenu {
  padding-left:12px;
}
.submenu > li:hover {
  color:blue;
}
.category::before, .category::after, .submenu::after {
  content:" ";
  white-space:pre;
}
i.fa.fa-circle-thin {
  color:#00ff74;
}
li:hover {
  background-color: #68ccff;
  cursor:pointer;
}
.main-content {
  text-align: right;
}
.main-content > p > a {
  color: white;
}
/* Marko Linde additions*/
.fa:hover {
  display: block;
  text-decoration: none;
}

.menuLink {
  /* This flexbox code stretches the link's clickable 
   * area to fit its parent block. */
  display:        flex;
  flex-grow:      1;
  flex-shrink:    1;
  color:#1f2051;
  /*justify-content: center;*/
}

.row{
  horiz-align: center;
}
.txt {
  color: #1f2051;
}
