<template>
  <h5 class="float-left">Add new Company</h5>
  <hr style="margin-top: 25px"/>
  <div class="row col-6">
    <div>
      <!-- submit aurelia binding -->
      <form method="post" submit.delegate ="submit()">
        <div class="form-group flex-column">
          <div class="col-xs-3">
            <label class="control-label float-left" for="Name">Name</label>
            <input class="form-control" type="text" id="Name" value.bind="company.name" />
          </div>
          <div class="col-xs-3">
            <label class="control-label float-left" for="Account">Adress</label>
            <input class="form-control" type="text" id="Account" value.bind="company.address" />
          </div>
          <div class="col-xs-3">
            <label class="control-label float-left" for="Iban">Registration</label>
            <input class="form-control" type="text" id="Iban" value.bind="company.registrationNumber" />
          </div>
          <div class="col-xs-3">
            <label class="control-label float-left" for="SwiftBic">VATRegistration</label>
            <input class="form-control" type="text" id="SwiftBic" value.bind="company.vatRegistration" />
          </div>
          <div class="col-xs-3">
            <input type="submit"  value="Create" class="fourth"/>
          </div>
        </div>
      </form>
    </div>
  </div>

  <div>
    <a route-href="route: companiesIndex">Back to List</a>
  </div>

</template>
