<template>
  <div class="justify-content-center" if.bind="appConfig.jwt != null">
    <p class="float-left txt">Index</p>
    <p class="float-md-right txt">
      <a route-href="route: companyCreate">Create New</a>
    </p>

    <table class="table table-sm txt">
      <thead>
      <tr>
        <th>
          Name
        </th>
        <th>
          Address
        </th>
        <th>
          Registration
        </th>
        <th>
          VAT
        </th>
        <th>
        </th>
      </tr>
      </thead>

      <tbody>
      <tr class="txt center-align" repeat.for="company of companies" model.bind="editCompany">
        <td style="vertical-align: middle;" if.bind="editCompany !== company">
          ${company.name}
        </td>
        <td style="vertical-align: middle" show.bind="editCompany === company">
          <input class="input-field text-left" value.bind="company.name" />
        </td>
        <td style="vertical-align: middle" if.bind="editCompany !== company">
          ${company.address}
        </td>
        <td style="vertical-align: middle" if.bind="editCompany === company">
          <input class="input-field text-left" value.bind="company.address" />
        </td>
        <td style="vertical-align: middle" if.bind="editCompany !== company">
          ${company.registrationNumber}
        </td>
        <td style="vertical-align: middle" if.bind="editCompany === company">
          <input class="input-field text-left" type="text" value.bind="company.registrationNumber" />
        </td>
        <td style="vertical-align: middle" if.bind="editCompany !== company">
          ${company.vatRegistration}
        </td>
        <td style="vertical-align: middle" if.bind="editCompany === company">
          <input class="input-field text-left" type="text" value.bind="company.vatRegistration" />
        </td>
        <td if.bind="editCompany !== company">
          <a style="transform: scale(0.8,0.8)" class="btn-floating waves-effect waves-light blue-grey" click.trigger="editCompanyCommand(company)"><i class="material-icons left">create</i></a>
          <!--<a route-href="route: companiesDetails; params.bind: {id: company.id}">Details</a> |-->
          <button style="transform: scale(0.8,0.8)" class="btn-floating waves-effect waves-light red" click.trigger="openDeleteModal(company)"><i class="material-icons left">delete_forever</i></button>
        </td>
        <td if.bind="editCompany === company">
          <button style="transform: scale(0.8,0.8)" class="btn-floating waves-effect waves-light green" click.trigger="saveCompany(company)">Ok</button>
          <button style="transform: scale(0.8,0.8)" class="btn-floating waves-effect waves-light red" click.trigger="cancelSaveCompany()">Cancel</button>
        </td>
      </tr>

      </tbody>
    </table>
  </div>
</template>
